<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tbUser">
    
    <select id="select1" resultType="Map">
/* UserSqlMapper - select */
SELECT *
  FROM TB_USER
    </select>

    <select id="select2" resultType="EzMap">
        /* UserSqlMapper - select */
        SELECT *
        FROM TB_USER
    </select>
</mapper>